div.team-member-card{
    background-color:whitesmoke;
    background-size: cover;
    background-image: url();
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0%;
    border: 20px solid pink;
}

div.social-links{
    /* padding: 10px;
    width: 7%; */
    position: relative;
    left:45%;
    align-items: center;
    }

    h3{
        border: 5cap solid;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
    }
hr{
    border:20px;
}
    img.profile-image{
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
    }
    p{ 
       text-align: center;
    }
    .a{
        background-color: blue ;
    }