/* Maybe to get this right I have to make another div and do a grid inside a grid */
.sandwich {
  /* display: grid;  */
  /* grid-template-columns:  */
  border: 1px solid black;
  /* height: 100px; */
  /* width: 100px; */
}

.sandwich-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.css-button-gradient--5 {
  min-width: 130px;
  height: 30px;
  color: #fff;
  padding: 0px 0px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}

.css-button-gradient--5:hover {
  background-position: right center;
}

.css-button-gradient--5:active {
  top: 2px;
}

#byo-button {
  background-color: transparent;
  text-decoration: underline;
  color: rgb(1, 25, 130);
}
