body{
background-color: skyblue;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
padding: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

h1 {
  background-color: green;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-K6VuSi82iHYUY1lNB3fIeC-ML6mnaNzFVw&usqp=CAU);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2rem;
  text-align: center;
  margin:10px 0;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
 
  box-sizing: content-box;
  width: 80%;
  border: solid #5B6DCD;
  padding: 10%;
}

header a {
  border: 2px solid white ;
  text-decoration: none;
  color:black;
  font-weight: bold;
}